# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Project Specific
script.lua
output.lua
output_vm.lua
*.obf.lua
scripts/obfuscated/
tests/results/
